<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyi_yanxuan.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.wangyi_yanxuan.domain.Role">
    <id column="rid" jdbcType="INTEGER" property="rid" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="rname" jdbcType="VARCHAR" property="rname" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
  </resultMap>
  <sql id="Base_Column_List">
    rid, post, rname, parentid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_role
    where rid = #{rid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_role
    where rid = #{rid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wangyi_yanxuan.domain.Role">
    insert into t_role (rid, post, rname, 
      parentid)
    values (#{rid,jdbcType=INTEGER}, #{post,jdbcType=VARCHAR}, #{rname,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wangyi_yanxuan.domain.Role">
    insert into t_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        rid,
      </if>
      <if test="post != null">
        post,
      </if>
      <if test="rname != null">
        rname,
      </if>
      <if test="parentid != null">
        parentid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="post != null">
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="rname != null">
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangyi_yanxuan.domain.Role">
    update t_role
    <set>
      <if test="post != null">
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="rname != null">
        rname = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
    </set>
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangyi_yanxuan.domain.Role">
    update t_role
    set post = #{post,jdbcType=VARCHAR},
      rname = #{rname,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=INTEGER}
    where rid = #{rid,jdbcType=INTEGER}
  </update>
</mapper>